<% if @user.followers %>
<% @user.followers.each do |user| %>
    <%= link_to user_path(user.id) do %>
      <div class="d-flex p-2 flex-row-nowrap text-decoration-none">
        <%= image_tag user.photo.url(:thumb) %>
        <h6 class="text-capitalize rt-bar"><%= user.fullname %></h6>
      </div>
    <% end %>
  <% end %>
<% end %>
