/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "font-awesome";

 $dark-color: #555;
 $light-color: #ddd;

 body {
   background-color: $light-color;
 }

 .fa {
   margin-left : 10px;
   margin-right : 10px;
   color: $dark-color;
 }

 .left-bar {
  background-color: $dark-color;
 }

 .fa-twitter {
   margin-left: 20px;
   font-size: 150%;
 }

 .tuit-body {
  border-top: 1px solid $light-color;
  padding-top: 15px;
  padding-bottom: 15px;
 }
