/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";
 @import "font-awesome";

 $dark-color: #555;
 $light-color: #ddd;
 $tuit-color: #1DA1F2;

 body {
  align-items: center;
  height: 100%;
}

 body,
 .rt-bar {
   background-color: #efefef;
   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",
   Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji",
   "Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
 }

 textarea {
   resize: none;
 }

 .bg-primary {
   background-color: $tuit-color !important;
 }

 .text-primary {
   color: $tuit-color !important;
 }

 .fa {
   margin-left : 10px;
   margin-right : 10px;
 }

  .form-signin {
    background-color: lighten($tuit-color, 90%);
    max-width: 330px;
    padding: 15px;
    margin: auto;
    width: 100%;
}

 .left-bar {
  background-color: $dark-color;
  color: $light-color;
 }

 .left-bar-2 {
  background-color: lighten($dark-color, 3%);
  color: $light-color;
  .left-bar-2:hover {
    color: $tuit-color !important;
  }
 }


 .fa-twitter {
   margin-left: 20px;
   font-size: 150%;
 }

 .tuit-title {
  border-color: $tuit-color ;
  border-bottom-style: solid;
 }

 .list-group-item-action:hover {
  background-color: lighten($tuit-color, 42%) !important;
 }
